<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{/css/public.css}"/>
    <title>商城高并发抢购-抢购结果页</title>
</head>
<style>

</style>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 align="center">抢购成功-请您<span style="color: red">登录邮箱</span>验证相关链接信息,并请在<span style="color: red">1小时内</span>
                完成订单的支付!</h1>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/bootstrap.min.js}"></script>
</body>
</html>